*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    color: red;
    text-align: center;
}

.text{
    text-align: center;
}

.box{
    background-color: black;
    display: flex; 
    align-items: center; 
    border: 1px solid;
    padding: 15px;
    border-radius: 8px;
    gap: 20px; 
    max-height: 250px;
    max-width: 600px; 
    margin: 20px auto;

}

.card-image{
  width: auto;
  height: auto;
  border-radius: 4px;
  flex-shrink: 0;
}

.card-text{
    color: white;
    flex-grow: 1;
}


