*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    color: red;
    text-align: center;
}

.text{
    text-align: center;
}

.box{
    background-color: black;
    display: flex; 
    align-items: center; 
    border: 1px solid;
    padding: 15px;
    border-radius: 8px;
    gap: 20px; 
    height: 200px;
    width: 400px; 
    margin: 20px auto;

}

.card-imag{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    flex-shrink: 0;
}

.card-text{
    color: white;
    flex-grow: 1;
    font-size: 13px;
}

#team-container{
    display: flex;

    gap: 2rem;
    flex-wrap: wrap;

}

